@model CrudeNews.Web.Areas.Administrator.Models.CreateArticleViewModel

<link rel="stylesheet" href="~/Content/create-article.css" />

@Html.ValidationSummary()
@using (Html.BeginForm("Create", "Article", FormMethod.Post,
           new { @class = "form-group" }))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(a => a.Title)
        @Html.EditorFor(a => a.Title, new { @class = "form-control" })
    </div>
    <div class="divider"></div>
    <div>
        @Html.LabelFor(a => a.Content)
        @Html.TextAreaFor(a => a.Content, new { @class = "form-control" })
    </div>
    <div class="divider"></div>
    <div>
        @Html.Label("Category")
        @Html.DropDownListFor(a => a.Category, new SelectList(this.Model.CategoryNames), new { @class = "form-control" })
    </div>
    <div class="divider"></div>
    <div>
        @Html.LabelFor(a => a.Tags)
        @Html.EditorFor(a => a.Tags, new { @class = "form-control" })
    </div>
    <div>
        <label for="file">Upload article image</label>
        <input type="file" name="file" id="file" style="width: 100%;" />
        <input type="submit" value="Upload" class="form-control" />
    </div>

    <input type="submit" value="Create" />
}
